.chat-side
  .side-header
    .side-header__box
      .side-header__box__username
        = current_user.name
      .side-header__box__menu
        = link_to new_group_path(current_user), class: "side-header__box__menu__edit-user" do
          = icon('fas', 'edit')        
        = link_to edit_user_path(current_user), class: "side-header__box__menu__new-group" do
          = icon('fas', 'cog')
  .groups
    .group
      .group1
        - current_user.groups.each do |group|
          = link_to group_messages_path(group), class: "group__group-name" do
            = group.name
          .group2
            = link_to group_messages_path(group), class: "group__latest-message" do
              = group.show_last_message


